<!DOCTYPE html>
<html>
<head>
	<title>Network Organizer</title>
  <% include ./_connections %>

</head>
<body>
<div id='wrapper'>
  <% include ./_navbar %>
  <div id='content' class="col-md-10">
    <h1>Create a New Company Record for your files</h1>
    <p>Input what you know about the company in the form below and press submitt to add it to your current file</p>
  	<form id='companyCreate' class='col-md-8'>
  		<input type="text" name='name' placeholder='Company Name'></input></br>
      <input type="text" name='address'placeholder='Company Address'></input></br>
      <input type="text" name='city'placeholder='Company City'></input></br>
      <input type="text" name='phone' placeholder='Company Phone'></input></br>
      <input type="text" name='email' placeholder='Company Email'></input></br>
      <input type="text" name='contact1'placeholder='Company Contact'></input></br>
      <input type="text" name='contact2' placeholder='Company Additional Contact'></input></br>
      <input type="radio" name='hotness' value="1">1</input>
      <input type="radio" name='hotness' value="2">2</input>
      <input type="radio" name='hotness' value="3">3</input>
      <input type="radio" name='hotness' value="4">4</input>
      <input type="radio" name='hotness' value="5">5</input></br>
      <input id="createdAt" type="hidden" name="createdAt" value=""></input>
  		<button type="submit">Submit</button>
  	</form>
  </div>
  <div id='footer'class='col-md-12'>
  	<p>organizing people who are serious about finding a job</p>
  </div>
	
</div>


</body>
</html>