<!DOCTYPE html>
<html>
<head>
	<title>Profile Page</title>
  <% include ./_connections %>

</head>
<body>
<% include ./_navbar %>
<div class='container col-sm-12'>
  <div id='user_profile' >
  <!--customized info box about the user-->
  <div id='userinfo' class="well col-sm-4"> 
Company profile here



 


  </div>
  </div>
</div>
</body>