<!DOCTYPE html>
<html>
<head>
	<title>Pavement Pounder</title>

  	<!-- Javascript CDN -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

     <!-- Latest compiled and minified JavaScript -->
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

     <!-- Bootstrap CDN -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

     <!-- APPLICATION SCRIPTS -->
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
    <script src="/static/js/app.js"></script>


</head>
<body>
<div id='wrapper'>
  <div id='topNav' class="col-md-12">
  <h1>Pavement Pounder</h1>
  <h2>A Job Search Organizer</h2>
  <button>Get Started</button>
  <button>Log In</button>
  	
  </div>
  <div id='content' class="col-md-10">
    <h1>We keeps track of your job searchs so you can concentrait on getting the job</h1>
    <p>Take a look at businesses in your area</p>
  	<form id='businessType' class='col-md-8'>
  		<input type="text" name='typeQuery'></input>
  		<button type="submit">Submit</button>
  	</form>
  	<div id='profile models' class='col-md-12'>
  		<div id='profile1' class='col-md-3'>
  			<p>predone profile One coming soon</p>
  			
  		</div>
  		<div id='profile2' class='col-md-3'>
  			<p>predone profile Two coming soon</p>
  		</div>
  		<div id='profile3' class='col-md-3'>
  			<p>predone profile Three coming soon</p>
  		</div>
  	</div>
  </div>
  <div id='footer'class='col-md-12'>
  	<p>organizing people who are serious about finding a job</p>
  </div>
	
</div>


</body>
</html>