<!DOCTYPE html>
<html>
<head>
	<title>Network Organizer</title>
  <% include ./_connections %>

</head>
<body id='homepage'>
<div id='wrapper'>
  <% include ./_navbar %>
  <div class='jumbotron'>
    <div class="container">
      <h1>Network Organizer</h1>
      <h2>A Job Search Organizer</h2>
    </div>
  </div>
  <div id='tagline' class='container'>
    <div>
      <h1>We keep track of your connections so you can concentrait on building your network</h1>
      <p>Take a look at businesses in your area</p>
    	<form id='businessType' class='col-md-10'>
    		<input type="text" name='typeQuery'></input>
    		<button type="submit">Submit</button>
    	</form>
    </div>
    <div id='footer'class='col-md-12'>
    	<p>organizing people who are serious about finding a job</p>
    </div>
  </div>
</div>
</body>
</html>