<!DOCTYPE html>
<html>
<head>
	<title>Network Organizer</title>
  <% include ./_connections %>

</head>
<body id='homepage'>
<div id='wrapper'>
  <% include ./_navbar %>
  <div class='jumbotron'>
    <div class="container">
      <h1>Network Organizer</h1>
      <h2>A Job Search Organizer</h2>
    </div>
  </div>
  <div id='tagline' class='container'>
    <div>
      <h1>We keep track of your connections so you can concentrait on building your network</h1>
      <p>Take a look at businesses in your area</p>
    <form id='homesearch' method='POST' action='/searches'> <!-- api search -->
      <label>Search by City or State</label>
      <input type='text' name='queryInput' placeholder='Enter a City'></input>
      <button type="submit">Search</button>
      </form>
    </div>
  </div>
</div>
<% include ./_footer %>
</body>
</html>