<!DOCTYPE html>
<html>
<head>
	<title>Log In</title>
  <% include ./_connections %>

</head>
<body>
<div iclass='container'>
  <% include ./_navbar %>
  <div class="col-md-10">
    <h1>Welcome Back</h1>
    <p>Not a member yet? create an account <a href="signup">here</a></p>
  	<form id='login' class='col-md-8'>
      <input id='email' type="email" name='email' placeholder='your email'></input></br>
      <input id='password' type="password" name='password' placeholder = 'create password'></input></br>
  		<button type="submit">Submit</button>
  	</form>
</div>


</body>
<% include ./_footer %>
</html>