<!DOCTYPE html>
<html>
<head>
	<title>Profile Page</title>
  <% include ./_connections %>

</head>
<body>
<% include ./_navbar %>
<div class='container'>
  <div id='user_profile'>
  <!--customized info box about the user-->
  <div id='userinfo'> 
  <ul>
    <li>Welcome Back </br> <%= user.name %></li>
    <li><p>You currently have <%= companies.length +1 %> that you are following right now.</p></li>
  </ul>
    
  </div>
 
  <!-- three tabs representing the three folders () --> 
    <div id="files" data-toggle="tab">

      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="col-md-3 active"><a href="#current" aria-controls="current" role="tab" data-toggle="tab">Current Companies</a></li>
        <li role="presentation" class="col-md-3"><a href="#burner" aria-controls="burner" role="tab" data-toggle="tab">Back Burner Companies</a></li>
        <li role="presentation" class="col-md-3"><a href="#no_contact" aria-controls="no_contact" role="tab" data-toggle="tab">Do Not Contact List</a></li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="current">
          <h2>Current Companies You are Pursuing</h2>
        </div>
        <div role="tabpanel" class="tab-pane" id="burner">
          <h2>Back Burner Companies</h2>
          <div class="panel panel-default">
          </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="no_contact">
          <h2>Do Not Contact List</h2>
          <div class="panel panel-default">
          </div>
        </div>
    </div>
  </div>

  </div>
  </div>
</div>
</body>