<!DOCTYPE html>
<html>
<head>
	<title>Query Reults</title>
	<% include ./_connections %>
</head>
<script src="/js/app.js"></script>
<body>
<div id='resultsWrapper'>
<% include ./_navbar %>
	<div id='queryResults'>
		<%=alldata%>
	</div>
</div>

</body>
</html>